<!--Aula de Interpolação-->

<!--o aplicativo esta puxando direto do arquivo first component.ts-->

<h2>meu primeiro componente</h2>
<h2>nome: {{ name }}</h2> <!--este metodo esta puxando meu nome direto do first component TS que esta passando em formato String-->
<h2>Idade: {{ age }}</h2><!--este metodo esta puxando meu nome direto do first component TS que esta passando em formato Number-->
<h3>Trabalho: {{ job }}</h3><!--este metodo esta puxando meu nome direto do first component TS que esta passando em formato String porem nao foi especificado-->
<p>Hobbie que mais gosta: {{hobbies[1]}}</p><!--Nesse exemplo posso escolher palavras especificas entre uma lista-->
<p>Nome do Carro: {{car.name}} e o Ano é: {{car.year}}</p><!--Nesse exemplo posso selecionar Arquivos especificos da lista com base no nome dele-->

<!--todo CSS do First Component nao vaza para o CSS da pagina principal. apenas para as variaveis
escritas aqui dentro-->

<!------------------------------------------------------------------------------------------------------------>

<a href="#">Veja mais sobre Minha carreira</a>
<h2 class="title">Classe definida no CSS como .title</h2>

<!--As tag P esta puxando Padding 15px do css first component-->

